<h1>Add a movie</h1>
<h2>movie info</h2>
<form method="POST">
    title:<input type="text" name="title"> year:<input type="number" name="year"> director:<input type="text" name="director">
    <input type="submit" value="add">
</form>
<a href="/movies">Browse movies</a>
<a href="/mymovies">My Movies</a>